<div class="navbar flex flex-row-reverse justify-between items-start mb-4">
  <div>
    <a href="<%= profile_path %>" class="logo">
      <h1><%= current_user.pseudo[0].capitalize %></h1>
    </a>
  </div>
  <div>
    <input class="menu-btn" type="checkbox" id="menu-btn" />
    <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
    <ul class="menu">
      <li><a href="<%= root_path %>">Accueil</a></li>
      <li><a href="<%= movie_home_search_path %>">Rechercher un film</a></li>
      <li><a href="<%= circles_path %> ">Mes cercles</a></li>
      <li><a href="<%= profile_path %>">Mon profil</a></li>
      <li><a href="<%= edit_user_registration_path %>">Editer mon profil</a></li>
    </ul>
  </div>
</div>

