<% membership = Membership.find(new.object["membership_id"]) %>
<% circle = Circle.find(new.object["circle_id"]) %>
<div class="flex justify-between items-start mb-2 notification">
  <div>
    <%= link_to user_path(membership.user) do  %>
      <h1><%= membership.user.pseudo[0].capitalize %></h1>
    <% end %>
  </div>
  <div class="w-2/3 flex flex-col items-start">
    <div><h3><%= circle.name %></h3></div>
    <div class="flex items-start clickable-name">
      <%= link_to user_path(membership.user) do  %>
        <p><%= membership.user.pseudo.capitalize %></p>
      <% end %>
      <p class="ml-1"> a rejoint le cercle</p>
    </div>
  </div>
  <div class="time-ago">
    <p><%= new.time_ago %></p>
  </div>


</div>
