<div class="login-page">
  <div class="personnalised-container">
    <div class="logo center-align  pt-32">
      <%= image_tag "cc-logo.png", alt: "cinecercle logo" %>
    </div>
    <p id="baseline" class="mt-24" >
      Partagez vos coups de coeur à vos proches et, pour votre prochaine soirée film, écoutez l'avis de ceux qui comptent
    </p>
  </div>

  <div id="login-form" class="b-shadow personnalised-container pb-2">
    <div class="personnalised-container mt-6">
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-inputs mt-8">
            <%= f.input :email,
                        required: true,
                        # autofocus: true,
                        placeholder: "Email",
                        label:false,
                        input_html: { autocomplete: "email", class: 'form-field b-shadow' } %>
            <%= f.input :password,
                        required: true,
                        placeholder: "Password",
                        label:false,
                        input_html: { autocomplete: "current-password", class: 'form-field b-shadow' } %>
          <div class="right-align">
            <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
              <%=  render 'shared/btn-underline', path: new_password_path(resource_name), title: "Mot de passe oublié ?", fontawesome: "fas fa-unlock-alt"  %>
            <% end %>
          </div>
          <div class="flex justify-start items-center mt-3 rememberme">
            <div class="switch">
              <%= f.input :remember_me,
                          as: :boolean if devise_mapping.rememberable?
                          %>
            </div>
            <div class="ml-2"><p>Se souvenir de moi</p></div>
          </div>

  <!--         <div class="form-actions"> -->
              <%= f.button :submit, "Se connecter", class: 'btn-pinky b-shadow mt-4' %>
            <% end %>

          <div class="center-align mb-10">
            <% if devise_mapping.omniauthable? %>
              <%- resource_class.omniauth_providers.each do |provider| %>
                <%=  render 'shared/btn-underline', path: omniauth_authorize_path(resource_name, provider), title: "Se connecter avec Facebook", fontawesome: "fab fa-facebook-square"  %>
              <% end %>
            <% end %>
          </div>

          <div class="discrete-link">
            <% if devise_mapping.registerable? && controller_name != 'registrations' %>
                <%= render 'shared/discrete-link', text: 'Nouvel utilisateur ? ', title: "Créez votre compte", path: new_registration_path(resource_name) %>
            <% end %>
          </div>
        </div>
      </div>
  </div>
</div>
